* {
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgrey;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.altura{
    height: 50vh;
}

.branding {
    height: 6rem;
}

.navegation{
    height: 3em;
    text-align: center;
    /* align-content: center;
    align-items: center; */
}

.title{
    font-size: 2em;
}

.sechudle {
    text-align: right;
    font-size: 0.75em;
}

#ramen{
    align-content: end;
}